// =============================================================================================
//! Общие Настройки

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
}

// =============================================================================================
//! Прибивание футера к полу

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

// =============================================================================================
//! Настройка контейнера

[class*="__container"] {
    max-width: calc(30px + 1200px);
    overflow: hidden;
    margin: 0 auto;
    padding: 0 15px;
}

//? PC    =======================================================================================
//? =============================================================================================
@media (max-width:1086.98px) {
}

//? Tablet    ===================================================================================
//? =============================================================================================
@media (max-width:991.98px) {
}

//? Mobile    ===================================================================================
//? =============================================================================================
@media (max-width:767.98px) {
}

//? Mobile - small    ===========================================================================
//? =============================================================================================
@media (max-width: 479.98px) {
}

// =============================================================================================
//! Цвета