// =============================================================================================hom
//! Основной Шрифт
@font-face {
    font-family: 'Montserrat';
    src:url('../font/Montserrat.ttf') format('truetype'),
        url('../font/Montserrat.eot') format('embedded-opentype'),
        url('../font/Montserrat.woff') format('woff'),
        url('../font/Montserrat.woff2') format('woff2');
}
// =============================================================================================
//! Дополнительные Шрифты
@font-face {
    font-family: 'Oswald';
    src:url('../font/Oswald.ttf') format('truetype'),
        url('../font/Oswald.eot') format('embedded-opentype'),
        url('../font/Oswald.woff') format('woff'),
        url('../font/Oswald.woff2') format('woff2');
}