// Colors

$black: rgb(0, 0, 0);
$gray-20:rgba(0, 0, 0, 0.2);
$gray-40: rgba(0, 0, 0, 0.4);
$white: rgb(255, 255, 255);

// size
$container: 1300px;
$container-safe:15px;

// media
$mobile-small: 479.98px;
$mobile: 767.98px;
$tablet:991.98px;
$pc: 1086.98px;

// animation
$transition--default: all 0.3s ease;
$transform--default: scale(107%);